#container
  %p
    Hi
    = "@#{@screen_name}!"
    You have tweeted
    = @number_of_tweets
    = "#{@number_of_tweets == 1 ? 'time' : 'times'}"  
    and have been mentioned
    = @number_of_mentions
    = "#{@number_of_mentions == 1 ? 'time' : 'times'}"
    since monday

  